@using Gold.ApplicationService.Contract.DTOs.ViewModels.AuthenticationViewModels;
@using Gold.Resources;
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = Captions.ResetPassword;
    ViewData["IsShowBackgroundImage"] = true;
}

<div class="container">
    <div id="loginArea" class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-9 col-lg-5">
            <div class="card shadow overflow-hidden">
				<div class="card-body">
                    <form action="/ForgetPassword" method="post" asp-antiforgery="true" class="dir-rtl p-1">
                    <div class="title-section mb-4 mt-2 text-center">
                        <h5 class="fw-bold">
                            @Captions.ResetPassword
                        </h5>
                    </div>
                   
                        <div class="row pb-3">
                            <div class="col-12 mb-2">
                                <input asp-for="UserName" type="text" class="form-control" placeholder="@Captions.NationalCode" autocomplete="off" tabindex="1">
                                <span asp-validation-for="UserName" class="text-danger fs-12"></span>
                            </div>
                            <div class="col-12 mb-2">
                                <input asp-for="Mobile" type="tel" onkeypress="return safeOnlyNumber($(this),event)" class="form-control dir-rtl" placeholder="@Captions.Mobile" tabindex="2">
                                <span asp-validation-for="Mobile" class="text-danger fs-12"></span>
                            </div>
                            <div class="col-12 mb-2">
								<div class="input-group mb-1 dir-ltr">
                                    <button class="btn btn-primary border-left" tabindex="4" type="button" onclick="refreshImage('captcha')">
										<i class="fa-solid fa-arrows-rotate align-middle"></i>
										<!-- <img class="reset-icon" src="./assets/image/reset-svgrepo-com.svg" alt="reset icon"> -->
									</button>
                                    <img id="captcha" class="secret-code-img" src="/Captcha/GetImage/@Captions.CaptchaPage_ForgetPassword" alt="secret code">
                                    <input asp-for="Captcha" tabindex="3" type="tel" class="form-control border-right" placeholder="@Captions.SecurityCode" onkeypress="return safeOnlyNumber($(this),event)" autocomplete="off" tabindex="3">
								</div>
								<span asp-validation-for="Captcha" class="text-danger fs-12"></span>
							</div>

                            <hr>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary px-5" tabindex="5">@Captions.SendVerifyCode</button>@*onclick="login()"*@
                                <a href="/login" class="btn btn-outline-gray_light" data-bs-dismiss="modal" tabindex="6">@Captions.Back</a>
                            </div>

                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

