@using Gold.ApplicationService.Contract.DTOs.ViewModels.AuthenticationViewModels;
@using Gold.Resources;
@model ChangePasswordByTokenViewModel
@{
	ViewData["Title"] = Captions.ChangePassword;
	ViewData["IsShowBackgroundImage"] = true;
}
<div class="container">
	<div  id="loginArea" class="row justify-content-center">
		<div class="col-12 col-sm-10 col-md-9 col-lg-5">
			<div class="card shadow overflow-hidden">
				<div class="card-body">
					<form action="/ResetPassword" method="post" class="dir-rtl p-1">
					<div class="title-section mx-2 text-center">
						
						<h5 class="fw-bold">
							@Captions.ChangePassword
						</h5>
						<p class="fw-light small dir-rtl">
							@UserMessages.PleaseEnterYourNewPassword
						</p>
					</div>
					
						<input type="hidden" asp-for="UserName" />
						<input type="hidden" asp-for="Token" />
						<div class="row">
							<div class="col-12 text-center text-white mb-2">
								@Captions.UserName : @Model.UserName
							</div>
							<div class="col-12 mb-2">
								<div class="input-group dir-ltr">
									<button onclick="ShowPassword('Password',this)" class="btn btn-primary border-left w-50p" type="button" id="button-addon1">
												<i class="fa fa-eye"></i>
											</button>
									<input asp-for="Password" type="password" class="form-control dir-ltr" placeholder="@Captions.NewPassword" tabindex="1">
								</div>
								
								<span asp-validation-for="Password" class="text-danger fs-12"></span>
							</div>
							<div class="col-12 mb-2">
								<div class="input-group dir-ltr">
									<button onclick="ShowPassword('ConfirmPassword',this)" class="btn btn-primary border-left w-50p" type="button" id="button-addon1">
												<i class="fa fa-eye"></i>
											</button>
									<input asp-for="ConfirmPassword" type="password" class="form-control dir-ltr" placeholder="@Captions.ConfirmPassword" tabindex="2">
								</div>
								<span asp-validation-for="ConfirmPassword" class="text-danger fs-12"></span>
							</div>

							<hr>
							<div class="text-center">
								<button type="submit" class="btn btn-primary px-5" tabindex="3">@Captions.ChangePassword</button>@* onclick="resetPassword()"*@
								<a href="/login" class="btn btn-outline-gray_light" data-bs-dismiss="modal" tabindex="4">@Captions.Back</a>

							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

