@using Gold.Resources;
@model ChangeUserPasswordViewModel
@{
    ViewData["Title"] = Captions.ChangePassword;
    ViewData["IsShowBackgroundImage"] = true;
    ViewBag.SelectedMenuIcon = SiteSelectedIcon.Profile;
}
<div class="container">
    <div id="loginArea" class="row justify-content-center">
		<div class="col-12 col-sm-10 col-md-9 col-lg-5">
            <div class="card shadow overflow-hidden">
				<div class="card-body">
                    <form class="dir-rtl p-1" action="/ChangePassword" onsubmit="submitFormNormal(this)">
					<div class="title-section mb-4 mt-2 text-center">
						<h5 class="fw-bold">
							@Captions.ChangePassword
						</h5>
					</div>
                   
                        <div class="row pb-3">
                            <div class="col-12 mb-2">
                                <div class="input-group dir-ltr">
                                    <button onclick="ShowPassword('CurrentPassword',this)" class="btn btn-primary border-left w-50p" type="button" id="button-addon1">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <input asp-for="CurrentPassword" type="password" class="form-control dir-ltr" placeholder="@Captions.CurrentPassword" />
                                </div>
                              
                                <span asp-validation-for="CurrentPassword" class="text-danger fs-12"></span>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="input-group dir-ltr">
                                    <button onclick="ShowPassword('NewPassword',this)" class="btn btn-primary border-left w-50p" type="button" id="button-addon1">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <input asp-for="NewPassword" type="password" placeholder="@Captions.NewPassword" class="form-control dir-ltr" />
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger fs-12"></span>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="input-group dir-ltr">
                                    <button onclick="ShowPassword('ConfirmNewPassword',this)" class="btn btn-primary border-left w-50p" type="button" id="button-addon1">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <input asp-for="ConfirmNewPassword" type="password" placeholder="@Captions.ConfirmNewPassword" class="form-control dir-ltr" />
                                </div>
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger fs-12"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">@Captions.Register</button>
                            <a href="/Profile" class="btn btn-outline-gray_light">@Captions.Cancel</a>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
